.box-contents {
    margin-top: 20px;
}

.test {
    background-color: red;;
}

.expenses-btn.active {
    color: orange;
}

.income-btn.active {
    color: palevioletred;
}

.table-design {
    width: 100%;
    border-collapse: collapse;
}
  
.table-design th,
.table-design td {
border: 1px solid black;
padding: 8px;
text-align: left;
}
.table-design th {
    background-color: #add8e6;
}

.chart {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
}