.text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}

.register-btn {
    width: 100px;
    margin: 0 auto;
}

.test {
    background-color: red;;
}

.expenses-btn.active {
    color: orange;
}

.income-btn.active {
    color: palevioletred;
}